/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #endregion Commons */

/* #region Utilities */

:root {
    --db-black: rgba(0, 0, 0, 1);
    --db-white: rgba(255, 255, 255, 1);
    --db-primary: rgba(0, 97, 255, 1);
    --db-section-bg: rgba(180, 208, 231, 1);
    --db-section-title: rgba(97, 8, 45, 1);
    --db-link: rgba(32, 8, 241, 1);
    --db-designit-main: rgba(245, 245, 245, 1);
    --db-designit: rgba(162, 211, 155, 1);
    --db-asu: rgba(97, 8, 43, 1);
    /* Arizona State University */
    --db-uf: rgba(0, 147, 206, 1);
    /* University Of Florida */
    --db-topps: rgba(255, 28, 28, 1);
    --db-wbr: rgba(213, 0, 31, 1);
    /* World Bicycle Relief */
    --db-lonelyplanet: rgba(13, 36, 129, 1);
    --db-hearst: rgba(180, 208, 231, 1);
    --db-cco: rgba(255, 216, 48, 1);
    /* Clean Channel OutDoor */
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.f-wrap {
    flex-wrap: wrap;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-12 {
    width: 100%;
}

.square {
    aspect-ratio: 1;
}

.mt-1 {
    margin-top: .5rem;
}

.btn-primary {
    background-color: var(--db-primary);
    padding: .25rem .75rem;
    color: var(--db-white)
}

/* #endregion Utilities */

/* #region debug */

.debug #site_header {
    height: 80px;
    background-color: palevioletred;
}

.debug nav {
    height: 100%;
    padding: 1rem;
}

.debug nav .nav_left,
.debug nav .nav_right {
    background-color: palegreen;
    height: 100%;
}

.debug nav a {
    display: inline-block;
    height: 100%;
    min-width: 50px;
    background-color: paleturquoise;
}

.debug .container {
    background-color: lightgreen;
    height: 200px;
    border: 1px dotted black;
    padding-bottom: 2rem;
}

.debug .row {
    height: 100%;
}

.debug [class^="col-"] {
    height: 50%;
    background-color: lightcoral;
    padding: 1rem;
}

.debug .subscription [class^="col-"] {
    height: 50%;
}

.debug .card {
    height: 100%;
    background-color: lightblue;
}

.debug .sponsors {
    height: 500px;
    background-color: lightgreen;
}

.debug .more_about h2,
.debug .more_about a {
    background-color: lightsalmon;
}

.debug .try_business h2,
.debug .try_business a {
    background-color: lightsalmon;
}

.debug .faq h2,
.debug .faq .question span{
    background-color: lightsalmon;
}


.debug #site_footer span {
    background-color: lightsalmon;
}
/* #endregion debug */


/* #region header  */

#site_header a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

/* #endregion header  */

/* #region main */

#site_main .hero {
    background-color: var(--db-section-bg);
    height: 500px;
}

/* #endregion main */

/* #region footer */

#site_footer {
    background-color: var(--db-black);
}

/* #endregion footer */
